web/WEB-INF/wsdl/localhost_8084/fornecedor/Pedido.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webservices.fornecedor.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.fornecedor.com.br/">

<xs:element name="consultarCatalogoProdutos" type="tns:consultarCatalogoProdutos" />

<xs:element name="consultarCatalogoProdutosResponse" type="tns:consultarCatalogoProdutosResponse" />

<xs:element name="realizarPedido" type="tns:realizarPedido" />

<xs:element name="realizarPedidoResponse" type="tns:realizarPedidoResponse" />

<xs:complexType name="consultarCatalogoProdutos">
<xs:sequence>
<xs:element name="idCliente" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarCatalogoProdutosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="realizarPedido">
<xs:sequence>
<xs:element name="idCliente" type="xs:string" minOccurs="0" />
<xs:element name="idProduto" type="xs:string" minOccurs="0" />
<xs:element name="qtde" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="realizarPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>